.ContactUs_Container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.ContactImg {
    width: 50%;
    position: absolute;

    bottom: 0;
    right: 0;
}

.ContactUs_Title {
    position: absolute;

    font-size: 70px;

    transform: translate(-50%, 0);
    left: 50%;
    top: 150px;
    z-index: 1;
}

.ContactMail {
    position: absolute;

    bottom: 200px;
    right: 470px;
    
    animation: up-down 1.5s infinite ease-in-out alternate;
    transform: translate(0px, 0px);
}

.ContacUs_Content_Container {
    position: absolute;
    z-index: 2;

    top: 320px;
    left: 100px;
    text-align: center;
    padding: 2rem;

    width: 40vw;
    height: 50vh;
    /* background-color: rgba(0, 0, 0, 0.038); */
}

/* .ContacUs_Content_Container > h1{
    text-align: center;
    margin-bottom: 1rem;
} */

.ContactUs_Content_item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;

    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.093);
    border: 3px solid #2B0D4B;
    /* height: 100px; */
}

.ContactBg {
    position: absolute;
    left: -900px;
}


.Content_ContentArea {
    width: 100%;
    /* height: 80px; */
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}


.Content_ImgArea {
    /* background-color: blue; */
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;

    border-radius: 50px;
}

.Contact_img {
    width: 100px;
    height: 100px;
    border-radius: 50px;

    display: grid;
}

.ContentArea_Content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;

    text-align: left;
    margin-right: 1rem;
    /* margin-bottom: 10px; */

    /* height: 30px; */
}

.ContentArea_Content > h4:first-child {
    font-size: 30px;
    color: rgb(142, 142, 142);
}

.ContentArea_Content:not(:last-child) {
    border-bottom: 1px dashed #000;
}

.ContacUs_Content_Container > .ContactUs_Content_item:first-child {
    margin-bottom: 2rem;
}